@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.body {
  font-family: "Roboto";
  background-image: url("../images/background.png");
  background-size: cover;

  color: #ffffff;
}
.container {
  max-width: 1030px;
  margin: 0 auto;
}
.header__box {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
  margin-bottom: 22px;
}
.header__link {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  font-weight: 700;
}

.header__logo_text {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.logo__text_main {
  font-size: 29px;
  line-height: 29px;
}
.logo__text_submain {
  font-size: 18px;
  line-height: 1;
}
.header__box_contacts {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1;
  align-items: flex-end;
}
.contacts__mail {
  margin-bottom: 19px;
}
.header__box_orangelogo {
  display: none;
}
.header__link:hover .header__box_logo {
  display: none;
}
.header__link:hover .header__box_orangelogo {
  display: inline-block;
}

.header__link:hover {
  color: #f26522;
}
.contacts__mail:hover {
  color: #f26522;
  transition: 0.3s;
}
.contacts__tel:hover {
  color: #f26522;
  transition: 0.3s;
}
/* MAIN */
.main__content {
  margin-bottom: 49px;
}
.main__list {
  display: grid;
  grid-template-rows: repeat(2, 261px);
  grid-template-columns: repeat(3, 300px);
  gap: 37px 63px;
}
.list__card_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.list__card_text {
  font-size: 18px;
  line-height: 1;
}
.card__item {
  width: 300px;
  height: 220px;
  position: relative;
  border-left: 1px solid;
  border-right: 1px solid;
  border-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.list__card_shop {
  background-image: url("../images/shopping.png");
}
.list__card_sightseeing {
  background-image: url("../images/sightseeing.png");
}
.list__card_food {
  background-image: url("../images/food.png");
}
.list__card_bars {
  background-image: url("../images/bars.png");
}
.list__card_art {
  background-image: url("../images/art.png");
}
.list__card_walking {
  background-image: url("../images/walking.png");
}

.list__card_box {
  display: flex;
  justify-content: space-between;
  background: #f26522;
  align-items: center;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
  overflow: hidden;
  width: 100%;
  max-height: 0;
  background-repeat: no-repeat;
}
.list__card_link:hover > .card__item > .list__card_box {
  max-height: 55px;
}

.card__box_price {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  gap: 4px;
}
.box__price_txt {
  font-size: 10px;
  line-height: 1;
}
.box__price_value {
  font-size: 20px;
  line-height: 1;
}
.card__details {
  font-size: 14px;
  line-height: 1;
  gap: 4px;
  padding: 29px 16px 12px;
}
.card__details::after {
  padding-left: 16px;
  content: "\276F";
}

.main__list_card:hover .list__card_text {
  color: #f26522;
}
.footer__txt {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 15px;
}
